// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header styles


header {
  background: url('../img/sw-hero-home.png');
  background-size: cover;
  width: 100%;
  overflow: auto;
  .header-text {
    margin: 123px auto 50px;
    text-align: center;
    padding: 0 10%;
  }
  h1 {
    font-size: 3.5em;
    line-height: 1;
    margin: 0.67em 0;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  ul {
    list-style: none;
    li {
      display: inline;
      a {
        color: white;
      }
    }
  }
}
