// -----------------------------------------------------------------------------
// This file contains all styles related to the sections of the site/application.
// -----------------------------------------------------------------------------
section{
  overflow: auto;
  padding: 70px 0;
}
.grid-4 {
  @include grid(4);
}

.icon-row {
  @include grid(4);

  .icon {
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }
}

.section-header {
  h2 {
    color: #525252;
    font-size: 2em;
    text-align: center;
    line-height: 1.25;
  }
  p {
    color: gray;
    text-align: center;
    line-height: 1.2;
    font-size: 1.25em;
    margin-bottom: 130px;
  }
}

#top-1 {
    background-color: #f4f4f4;
    width: 100%;
    overflow: auto;
}

#middle {
  .value {
    @include flex-center;
    font-size: 6em;
    font-weight: bold;
    color: $brand-color;
  }

  .stats .small {
      font-size: .8em;
  }

  h2 {
      text-align: center;
  }
}
