// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button.btn {
    padding: 13px 33px;
    background: #fff;
    border: none;
    font-weight: 700;
    color: $brand-color;
}

/* Icon styles */

.icon {
  .circle {
    height: 104px;
    width: 104px;
    border: 10px solid $brand-color;
    border-radius: 50%;
    margin-top: -30%;
    margin: -60px auto auto;
    background-color: $brand-color;
    @include flex-center;
  }
  img {
    filter: brightness(100);
  }
}
